body {
	font-family: "leitura-news",serif;
	color: #3a3a3a;
	margin: 0px;
}

.header {
/*	border-bottom: 1px grey solid; */
	padding: 2%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	width: 4em;
}

.page-navigation, .footer {
	font-size: 13px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: sans-serif;
}

.page-navigation {
	padding: 0px;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: flex-end;
	flex-direction: row;
}

.page-navigation__link {
	margin-left: 6%;
}

.link {
	color: #EE4938;
	text-decoration: none;
}

.nav-link {
	color: #3a3a3a;
	text-decoration: none;
}

.nav-link:hover {
	color: #EE4938;
}

.link:hover {
	color: rgba(0,0,0,0.4);
	/*text-decoration: none;*/
}

.intro {
	margin: 0px 200px;
}

.intro__paragraph {
	font-size: 55px;
	line-height: 1.25em;
	font-weight: normal;
	margin-bottom: 12px;
}

.intro__social-links, .work-item__description, .more-work {
	font-size: 20px;
}

.intro__social-links {
	padding-bottom: 55px;
}
.work {
	/*display: flex;*/
	/*justify-content: center;*/
}

.work-item {
	display: flex;
	align-items: center;
	margin: 0px 200px;
	padding: 40px 0px;
	border-top: 1px grey solid;
}

.more-work {
	margin: 0px 200px 100px 200px;
	padding-top: 40px;
	border-top: 1px grey solid;
}

.work-item__thumbnail {
	/*flex: 0 0 20px;*/
	width: 400px;
}

.work-item__description {
	padding-left: 4%;
	flex-grow: 2;
}

.footer {
	border-top: 1px grey solid;
	padding: 2%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;

}

.footer__right-links {
	display: flex;
	justify-content: space-between;
}
.footer__right-link{
	margin-left: 20px;
}